In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r"S:\for Lucas\RETC2023_openwater\Abstracts-3-23-2023.xlsx")

In [3]:
#SESSIONS
sessions = df.copy()
# reset names of columns
sessions = sessions.set_axis(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41'], axis=1, inplace=False)
# remove unnecessary details
sessions = sessions.drop(['1','2','4','3','5','6','7','8','9','10','11','12','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','16','17'], axis = 1)
# unique ID
#sessions['00'] = (sessions['19'] + '_' + sessions['0']).astype('category').cat.codes
# reorder column names
columns_reordered = ['19','0','18','13','14','15']
sessions = sessions[columns_reordered]
# reset names of columns
sessions = sessions.set_axis(['session_id','session_title','location','session_date','session_start_time','session_end_time'], axis=1, inplace=False)
sessions.to_excel(r'S:\for Lucas\RETC2023_openwater\to_coreapps\20230329_SME_RETC_sessions_to_coreapps.xlsx')

In [4]:
sessions

,session_id,session_title,location,session_date,session_start_time,session_end_time
0,3-1-A,Contract Practices,A,6/14/2023,8:30 AM,11:30 AM
1,3-1-A,Contract Practices,A,6/14/2023,8:30 AM,11:30 AM
2,3-1-A,Contract Practices,A,6/14/2023,8:30 AM,11:30 AM
3,3-1-A,Contract Practices,A,6/14/2023,8:30 AM,11:30 AM
4,3-1-A,Contract Practices,A,6/14/2023,8:30 AM,11:30 AM
...,...,...,...,...,...,...
148,2-1-C,Tunnel Rehabilitation,C,6/13/2023,8:30 AM,11:30 AM
149,2-1-C,Tunnel Rehabilitation,C,6/13/2023,8:30 AM,11:30 AM
150,2-1-C,Tunnel Rehabilitation,C,6/13/2023,8:30 AM,11:30 AM
151,2-1-C,Tunnel Rehabilitation,C,6/13/2023,8:30 AM,11:30 AM
152,2-1-D,New and Innovative Technologies I,D,6/13/2023,8:30 AM,11:30 AM

In [5]:
#SUBSESSIONS
subsessions = df.copy()
# reset names of columns
subsessions = subsessions.set_axis(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41'], axis=1, inplace=False)
# remove unnecessary details
subsessions = subsessions.drop(['0','1','2','6','7','8','9','10','11','12','14','15','18','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41'], axis = 1)
# reorder column names
columns_reordered = ['4','19','3','5','13','16','17']
subsessions = subsessions[columns_reordered]
# reset names of columns
subsessions = subsessions.set_axis(['sub_session','session_id','sub_session_title','sub_session_description','sub_date','sub_start_time','sub_end_time'], axis=1, inplace=False)
subsessions.to_excel(r'S:\for Lucas\RETC2023_openwater\to_coreapps\20230329_SME_RETC_subsessions_to_coreapps.xlsx')

In [6]:
subsessions

,sub_session,session_id,sub_session_title,sub_session_description,sub_date,sub_start_time,sub_end_time
0,NaN,3-1-A,NaN,NaN,6/14/2023,08:30 AM,08:35 AM
1,2861.0,3-1-A,Packaging and Contract Delivery Methods for th...,The $2 billion Horizon Lateral includes over 3...,6/14/2023,08:35 AM,08:55 AM
2,2851.0,3-1-A,Progressive Design-Build in the Tunneling/Unde...,Progressive Design-Build (PDB) is an emerging ...,6/14/2023,08:55 AM,09:15 AM
3,3044.0,3-1-A,CMGC Delivery of the I35W SSF Project â€“ Foster...,The Minnesota Department of Transportation is ...,6/14/2023,09:15 AM,09:35 AM
4,2969.0,3-1-A,Plane Train Tunnel West Extension Project: Pro...,Progressive Design Build has become a common d...,6/14/2023,09:35 AM,09:55 AM
...,...,...,...,...,...,...,...
148,3008.0,2-1-C,A Novel Holistic Methodology for Tunnel Leak R...,Modern underground leak-remediation includes a...,6/13/2023,09:35 AM,09:55 AM
149,2908.0,2-1-C,Repairs to Extreme Altitude Water Conveyance T...,An 1890s vintage Colorado railroad tunnel repu...,6/13/2023,09:55 AM,10:15 AM
150,2944.0,2-1-C,Underwater Tunnel Rehabilitation with Patented...,Two 70- to 90-year-old concrete lined raw wate...,6/13/2023,10:15 AM,10:35 AM
151,3040.0,2-1-C,Heroes Tunnel: A Historical Perspective and R...,The Heroes Tunnel consists of twin-bore tunnel...,6/13/2023,10:35 AM,10:55 AM
152,2923.0,2-1-D,Utilizing GIS for Inlet/Outlet Tunnel Geologic...,The Chimney Hollow reservoir project broke gro...,6/13/2023,10:50 AM,11:10 AM

In [7]:
#ABSTRACTS
abstracts = df.copy()
# reset names of columns
abstracts = abstracts.set_axis(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41'], axis=1, inplace=False)
# remove unnecessary details
abstracts = abstracts.drop(['0','1','2','9','10','11','12','14','15','17','18','20','41'], axis = 1)
# reorder column names
columns_reordered = ['4','3','5','6','7','8','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','13','16','19']
abstracts = abstracts[columns_reordered]
# reset names of columns
abstracts = abstracts.set_axis(['abstract_id','abstract_title','abstract_body','author_first_name','author_last_name','author_title','co_author1_first_name','co_author1_last_name','co_author1_company','co_author1_company','co_author2_first_name','co_author2_last_name','co_author2_title','co_author2_company','co_author3_first_name','co_author3_last_name','co_author3_title','co_author3_company','co_author4_first_name','co_author4_last_name','co_author4_title','co_author4_company','co_author5_first_name','co_author5_last_name','co_author5_title','co_author5_company','abstract_date','abstract_start_time','session_id'], axis=1, inplace=False)
abstracts.to_excel(r'S:\for Lucas\RETC2023_openwater\to_coreapps\20230329_SME_RETC_abstracts_to_coreapps.xlsx')

In [8]:
abstracts

,abstract_id,abstract_title,abstract_body,author_first_name,author_last_name,author_title,co_author1_first_name,co_author1_last_name,co_author1_company,co_author1_company,...,co_author4_last_name,co_author4_title,co_author4_company,co_author5_first_name,co_author5_last_name,co_author5_title,co_author5_company,abstract_date,abstract_start_time,session_id
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/14/2023,08:30 AM,3-1-A
1,2861.0,Packaging and Contract Delivery Methods for th...,The $2 billion Horizon Lateral includes over 3...,Robin,Rockey,Southern Nevada Water Authority,Adriana,Ventimiglia,Senior Program Engineer,Southern Nevada Water Authority,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/14/2023,08:35 AM,3-1-A
2,2851.0,Progressive Design-Build in the Tunneling/Unde...,Progressive Design-Build (PDB) is an emerging ...,Carlos,Tarazaga,AZTEC Engineering Group (TYPSA Group),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/14/2023,08:55 AM,3-1-A
3,3044.0,CMGC Delivery of the I35W SSF Project â€“ Foster...,The Minnesota Department of Transportation is ...,Michael,Haggerty,Barr Engineering Co.,Joe,Welna,Senior Civil Engineer,Barr Engineering Co.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/14/2023,09:15 AM,3-1-A
4,2969.0,Plane Train Tunnel West Extension Project: Pro...,Progressive Design Build has become a common d...,Dominic,Reda,"Gall Zeidler Consultants, LLC",Walter,Klary,Senior SEM Engineer,"Gall Zeidler Consultants, LLC",...,Coibion,Tunnel Manager,GUY F. ATKINSON CONSTRUCTION,NaN,NaN,NaN,NaN,6/14/2023,09:35 AM,3-1-A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,3008.0,A Novel Holistic Methodology for Tunnel Leak R...,Modern underground leak-remediation includes a...,Lane,Boyd,Gall Zeidler Consultants,Thomas,Martin,Mr.,Gall Zeidler Consultants,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/13/2023,09:35 AM,2-1-C
149,2908.0,Repairs to Extreme Altitude Water Conveyance T...,An 1890s vintage Colorado railroad tunnel repu...,Kyle,Hagan,Mott MacDonald,Jacob,Prezkuta,Construction Project Manager,"Drill Tech Drilling & Shoring, Inc.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/13/2023,09:55 AM,2-1-C
150,2944.0,Underwater Tunnel Rehabilitation with Patented...,Two 70- to 90-year-old concrete lined raw wate...,Liam,O'Brien,"Ballard Marine Construction, LLC",Shawn,Drobny,Lead Engineer,"Ballard Marine Construction, LLC",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/13/2023,10:15 AM,2-1-C
151,3040.0,Heroes Tunnel: A Historical Perspective and R...,The Heroes Tunnel consists of twin-bore tunnel...,Mahmood,Khwaja,CDM Smith,Michael,Egan,Project Manager,CDM Smith,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/13/2023,10:35 AM,2-1-C
152,2923.0,Utilizing GIS for Inlet/Outlet Tunnel Geologic...,The Chimney Hollow reservoir project broke gro...,Nadav,Bar-Yaakov,Stantec,Bolen,Cory,Associate,Stantec,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/13/2023,10:50 AM,2-1-D

In [9]:
#SPEAKERS
# reset names of columns
speakers = df.copy()
speakers = speakers.set_axis(['0','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41'], axis=1, inplace=False)
# remove unnecessary details
speakers = speakers.drop(['1','2','5','9','10','11','12','13','14','15','16','17','18','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40'], axis = 1)
# create unique id by adding last name and abract id number
#df['00'] = df['4'].map(str).str[:3] + df['7'].map(str).str[:1] + df['6'].map(str).str[:4] 
speakers['00'] = (speakers['6'] + '_' + speakers['7']).astype('category').cat.codes    
#reorder column names
columns_reordered = ['00','6','7','8','41','19','4','4']
speakers = speakers[columns_reordered]
# reset names of columns
speakers = speakers.set_axis(['speaker_id','first_name','last_name','company','biography','session_id','abstract_id','sub_session_id'], axis=1, inplace=False)
speakers.to_excel(r'S:\for Lucas\RETC2023_openwater\to_coreapps\20230329_SME_RETC_speakers_to_coreapps.xlsx')

In [10]:
speakers

,speaker_id,first_name,last_name,company,biography,session_id,abstract_id,sub_session_id
0,-1,NaN,NaN,NaN,NaN,3-1-A,NaN,NaN
1,95,Robin,Rockey,Southern Nevada Water Authority,NaN,3-1-A,2861.0,2861.0
2,12,Carlos,Tarazaga,AZTEC Engineering Group (TYPSA Group),Mr. Tarazaga has 20 years of experience in the...,3-1-A,2851.0,2851.0
3,72,Michael,Haggerty,Barr Engineering Co.,Mr. Haggerty is a senior geotechnical engineer...,3-1-A,3044.0,3044.0
4,27,Dominic,Reda,"Gall Zeidler Consultants, LLC",NaN,3-1-A,2969.0,2969.0
...,...,...,...,...,...,...,...,...
148,59,Lane,Boyd,Gall Zeidler Consultants,NaN,2-1-C,3008.0,3008.0
149,56,Kyle,Hagan,Mott MacDonald,Kyle Hagan is a Geotechnical and Tunneling Eng...,2-1-C,2908.0,2908.0
150,62,Liam,O'Brien,"Ballard Marine Construction, LLC",NaN,2-1-C,2944.0,2944.0
151,65,Mahmood,Khwaja,CDM Smith,NaN,2-1-C,3040.0,3040.0
152,78,Nadav,Bar-Yaakov,Stantec,Nadav is a Geotechnical Engineering Profession...,2-1-D,2923.0,2923.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 42 columns):
 #   Column                                                                                           Non-Null Count  Dtype
---  ------                                                                                           --------------  -----
 0   Session Title                                                                                    153 non-null    object
 1   Day Date                                                                                         153 non-null    object
 2   Session Start Time                                                                               153 non-null    object
 3   Abstract: (Abstracts Submission - Abstract Information) Title of Paper                           133 non-null    object
 4   Abstract Code                                                                                    133 non-null    float64
 5   Abstract: (Abstracts Submission - Abstract Information) Abstract body                            133 non-null    object
 6   Abstract: (Abstracts Submission - Your Contact Information) First Name                           133 non-null    object
 7   Abstract: (Abstracts Submission - Your Contact Information) Last Name                            133 non-null    object
 8   Abstract: (Abstracts Submission - Your Contact Information) Organization Name                    133 non-null    object
 9   Abstract: (Abstracts Submission - Your Contact Information) Mailing Address.City                 133 non-null    object
 10  Abstract: (Abstracts Submission - Your Contact Information) Mailing Address.State                133 non-null    object
 11  Scheduler Time Slot Start Time                                                                   153 non-null    object
 12  Scheduler Time Slot End Time                                                                     153 non-null    object
 13  Scheduler Start Date                                                                             153 non-null    object
 14  Start Time                                                                                       153 non-null    object
 15  End Time                                                                                         153 non-null    object
 16  Session Abstract Start Time                                                                      153 non-null    object
 17  Session Abstract End Time                                                                        153 non-null    object
 18  Room Name                                                                                        153 non-null    object
 19  Scheduler ID                                                                                     153 non-null    object
 20  Description                                                                                      0 non-null      float64
 21  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #1 First Name                  118 non-null    object
 22  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #1 Last Name                   118 non-null    object
 23  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #1 Title                       115 non-null    object
 24  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #1 Organization Name           118 non-null    object
 25  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #2 First Name                  86 non-null     object
 26  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #2 Last Name                   86 non-null     object
 27  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #2 Title                       83 non-null     object
 28  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #2 Organization Name           86 non-null     object
 29  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #3 First Name                  56 non-null     object
 30  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #3 Last Name                   56 non-null     object
 31  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #3 Title                       52 non-null     object
 32  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #3 Organization Name           56 non-null     object
 33  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #4 First Name                  34 non-null     object
 34  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #4 Last Name                   34 non-null     object
 35  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #4 Title                       30 non-null     object
 36  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #4 Organization Name           34 non-null     object
 37  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #5 First Name                  14 non-null     object
 38  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #5 Last Name                   14 non-null     object
 39  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #5 Title                       10 non-null     object
 40  Abstract: (Abstracts Submission - Authors / Co-Authors) Co-Author #5 Organization Name           14 non-null     object
 41  Abstract: (Abstracts Submission - Authors / Co-Authors) Enter Your Brief Introductory Biography  96 non-null     object
dtypes: float64(2), object(40)
memory usage: 50.3+ KB